* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
}
/* -----------fine regole generiche------------ */

/*-------------- contenitore di tutto----------*/
.full-container {
    height: 100vh;
    background: linear-gradient(0deg, rgba(218,205,186,1) 85%, rgba(18,140,126,1) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------- contenitore full chat page----------*/
.chat-page {
    width: 80%;
    height: 90%;
}

.chat-page::after {
    content: '';
    display: table;
    clear: both;
}

.contact-side {
    float: left;
    height: 100%;
    width: 35%;
    background-color: #fff;
    border-right: 1px solid #bdb9b5;
}

.chat-side {
    float: left;
    height: 100%;
    width: 65%;
    background-color: cadetblue;

}
/* ----------impostiamo gli 'header' della chat page------- */

.contact-header, .chat-header {
    height: 70px;
    background-color: #ece5dd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ------------left contact side-------- */
.contact-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-img-profile {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.user-img-profile > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-info {
    margin-left: 15px;
}

.user-info > p.user-name {
    font-size: 18px;
    font-weight: bold;
}

.user-info > p.user-thoughts {
    font-size: 16px;
}

/* ---------rigth contact side// right chat side------------ */

.contact-header-right > i, .chat-header-right > i {
    font-size: 25px;
    margin: 0 10px;
    color: #a09e9e;
}

/* -------immagine contatto corrente------ */

.img-current-contact {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.img-current-contact > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* -----------chat header left------- */
.chat-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-contact-info {
    margin-left: 15px;
}

.current-contact-info > p.current-contact-name{
    font-size: 18px;
    font-weight: bold;
}

.current-contact-info > p.current-contact-state {
    font-size: 16px;
}

/* ---------contact side notifications-------------- */

.active-notifications {
    height: 70px;
    background-color: #34b7f1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.active-notifications > i {
    color: #fff;
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.notifications-text {
    margin-left: 25px;
}

.notifications-text > p.notifications-paragraph {
    font-size: 18px;
    font-weight: bold;
}

.notifications-text > p.notifications-settings {
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

/* -----------barra di ricerca nella chat---------- */

.search-chat {
    height: 50px;
    background-color: #ece5dd;
    padding: 5px;
}

.search-chat-button {
    height: 100%;
    width: 60px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    background-color: white;
    font-size: 18px;
    color: #a09e9e;
}

.search-chat-input {
    height: 100%;
    width: calc(100% - 75px);
    font-size: 18px;
    padding-left: 10px;
    margin-left: 10px;
    border: 1px solid transparent;
    outline: none;
    color: #a09e9e;
}

/* ------------lista dei contatti------------ */

.rubric-contact {
    height: calc(100% - 70px - 70px - 50px);
    overflow-y: auto;
}

li.contact-list {
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #bdb9b5;
    cursor: pointer;
}

li.contact-list:hover {
    background-color: #bdb9b5;
}

/* --------hover fisso al click-------- */
.hover-focus {
    background-color: #9e9389;
}
/* -------- fine hover fisso al click-------- */

.contact-image-profile {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.contact-image-profile > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.contact-info {
    margin-left: 20px;
}

.contact-info > p.contact-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
}

.contact-info > p.current-contact-state {
    font-size: 16px;
}

/* ------------lato chat principale con  messaggi----- */

.main-message-chat {
    height: calc(100% - 70px - 70px);
    background-image: url('img/chat-background.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.message-chat {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.message-writing {
    height: 70px;
    background-color: #ece5dd;
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #bdb9b5;
}

.message-writing > input {
    width: 70%;
    height: 100%;
    font-size: 20px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.message-writing > i {
    font-size: 25px;
    cursor: pointer;
    color: #a09e9e;
}

.recived-messages, .sent-messages {
    max-width: 200px;
    display: inline-block;
    background-color: white;
    text-align: center;
    padding: 15px 15px;
    border-radius: 10px;
    margin: 10px;
    align-self: flex-start;
/* ho messo flex-start(su recived) e flex-end(sent) perchè se metto solo flex-end su sent le larghezze dei box delle chat risultano diverse a parità di testo */
}

.sent-messages {
    align-self: flex-end;
    background-color: #25d366;
}

/* cambia colore quando è pronto ad inviare */
.message-writing > i.ready-color {
    color: #25d366;
}

/* ---------menu nascosto per cancellare i messaggi---------- */

/* .recived-messages + .hidden-menu {
    display: none;
}
.sent-messages + .hidden-menu {
    display: none;
}
.recived-messages + .show-menu {
    display: block;
    position: absolute;
    align-self: flex-start;
    bottom: -10px;
    left: 55px;
    background-color: #7e9e5f;
    border-radius: 5px;
    padding: 5px;
}
.sent-messages + .show-menu {
    display: block;
    align-self: flex-end;
    position: absolute;
    bottom: -10px;
    right: 55px;
    background-color: #7e9e5f;
    border-radius: 5px;
    padding: 5px;
}
.sent-messages + .show-menu > p {
    cursor: pointer;
}
.recived-messages + .show-menu > p {
    cursor: pointer;
} */

/* ALTERNATIVA */


/* .hidden-class {
    display: none;
} */
.recived-messages + .deleteMenu {
    display: none;
    position: absolute;
    align-self: flex-start;
    bottom: -10px;
    left: 55px;
    background-color: #7e9e5f;
    border-radius: 5px;
    padding: 5px;
}
.sent-messages + .deleteMenu {
    display: none;
    align-self: flex-end;
    position: absolute;
    bottom: -10px;
    right: 55px;
    background-color: #7e9e5f;
    border-radius: 5px;
    padding: 5px;
}

.recived-messages + .deleteMenu {
    display: block;
    position: absolute;
    align-self: flex-start;
    bottom: -10px;
    left: 55px;
    background-color: #7e9e5f;
    border-radius: 5px;
    padding: 5px;
}

.sent-messages + .deleteMenu {
    display: block;
    align-self: flex-end;
    position: absolute;
    bottom: -10px;
    right: 55px;
    background-color: #7e9e5f;
    border-radius: 5px;
    padding: 5px;
}

.sent-messages + .deleteMenu > p {
    cursor: pointer;
}

.recived-messages + .deleteMenu > p {
    cursor: pointer;
}








/**/
