* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------fine regole generiche------------ */

/*-------------- contenitore di tutto----------*/
.full-container {
    height: 100vh;
    background: linear-gradient(0deg, rgba(218,205,186,1) 85%, rgba(68,162,102,1) 85%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------- contenitore chat page----------*/
.chat-page {
    width: 80%;
    height: 90%;
    background-color: blue;
}

.chat-page::after {
    content: '';
    display: table;
    clear: both;
}

.contact-side {
    float: left;
    height: 100%;
    width: 35%;
    background-color: purple;
}

.chat-side {
    float: left;
    height: 100%;
    width: 65%;
    background-color: cadetblue;

}
